@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #132228;
}

.defaultMargin {
  padding: 5vh 0;
}

::-webkit-scrollbar {
  background-color: white;
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f72585;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .circle,
  .triangle,
  .square {
    display: none !important;
  }
}
